<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="myCss1.css">
</head>
<body>

<h2>Create Customer</h2>

    <form action="/createCustomer" method="post">

        <label>Enter first name</label>
        <input type="text" name="fName">
        <label>Enter last name</label>
        <input type="text" name="lName">
        <label>Enter address</label>
        <input type="text" name="address">
        <label>Enter Zip Code</label>
        <input type="text" name="zipCode">
        <label>Enter City</label>
        <input type="text" name="city">
        <label>Enter phone number</label>
        <input type="text" name="phoneNumber">
        <label>Enter email</label>
        <input type="text" name="eMail">
        <label>Enter Drivelicense number</label>
        <input type="text" name="driverLicenseNumber">
        <label>Enter the driver-since-date YYYY-MM-DD</label>
        <input type="text" name="driverSinceDate">
        <input type="submit" class="button1" value="save new customer">
    </form>

</body>
</html>